body {
    background-color: #11111b;
    color: #cdd6f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #cdd6f4;
}

.container {
    background-color: #1e1e2e;
    border: 3px solid #cba6f7;
    border-radius: 12px;
    box-shadow: 0px 0px 6px #cba6f7;
    padding: 1rem;
    width: 60vw;
    height: 75vh;
    font-family: "Courier New", Courier, monospace;
    overflow-y: auto;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}

.blinking-text {
    animation: blink 1s infinite;
}
