:root {
    --accent-color: rgb(203, 166, 247);
    --text-color: rgb(205, 214, 244);
}

@font-face {
    font-family: "JetBrainsMono NF";
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hiden;
    caret-color: transparent;
}

body {
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--text-color);
    padding-right: 1em;
}

.custom-pattern {
    background-image:
        linear-gradient(
            30deg,
            #b4befe 12%,
            transparent 12.5%,
            transparent 87%,
            #b4befe 87.5%,
            #b4befe
        ),
        linear-gradient(
            150deg,
            #b4befe 12%,
            transparent 12.5%,
            transparent 87%,
            #b4befe 87.5%,
            #b4befe
        ),
        linear-gradient(
            30deg,
            #b4befe 12%,
            transparent 12.5%,
            transparent 87%,
            #b4befe 87.5%,
            #b4befe
        ),
        linear-gradient(
            150deg,
            #b4befe 12%,
            transparent 12.5%,
            transparent 87%,
            #b4befe 87.5%,
            #b4befe
        ),
        linear-gradient(
            60deg,
            #b4befe80 25%,
            transparent 25.5%,
            transparent 75%,
            #b4befe80 75%,
            #b4befe80
        ),
        linear-gradient(
            60deg,
            #b4befe80 25%,
            transparent 25.5%,
            transparent 75%,
            #b4befe80 75%,
            #b4befe80
        );
    background-size: 100px 175px;
    background-position:
        0 0,
        0 0,
        50px 87.5px,
        50px 87.5px,
        0 0,
        50px 87.5px;
    background-color: #181825;
}

.container {
    background-color: rgba(30, 30, 46, 0.9);
    border: 3px solid var(--accent-color);
    border-radius: 12px;
    box-shadow: 0px 0px 6px var(--accent-color);
    padding: 1rem;
    width: 60vw;
    height: 75vh;
    font-family: "JetBrainsMono NF", "Courier New", Courier, monospace;
    overflow-y: auto;
    backdrop-filter: blur(6px);
}

@media (max-width: 1024px) {
    .container {
        width: 85vw;
        height: 90vh;
    }
}

.blinking-text {
    animation: blink 1s step-end infinite;
}

.input-area {
    outline: none; /* removes focus border */
    position: relative;
}

.input-area::after {
    content: "▁";
    animation: blink 1s step-end infinite;
    margin-left: 0.05ch; /* small gap if needed */
}

.inline {
    display: inline;
}

.colored {
    color: var(--accent-color);
}

.distro-logo {
    fill: var(--text-color);
    vertical-align: middle;
}

@keyframes blink {
    from,
    to {
        color: var(--text-color);
    }
    50% {
        color: transparent;
    }
}
